<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="general/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
</head>
<body>
    <section>
        <div class="card ml-3 mr-3">
            <div class="card-body" th:if="${user}">
                <div class="container text-center">
                    <img class="my_prof_pic rounded-circle" style="height: 200px; width: 200px;" th:src="@{'/img/'+${user.imageUrl}}" alt="profile photo" />
                    <h3 class="mt-3 text-center"> <span th:text="${user.name}"></span></h3>

                    <table class="table mt-5">
                        <tbody>
                        <tr>
                            <th scope="row">Id</th>
                            <td><span th:text="${user.id}"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td><span th:text="${user.name}"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td><span th:text="${user.email}"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Role</th>
                            <td><span th:text="${user.role}"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Account Active</th>
                            <td><span th:text="${user.enabled}"></span></td>
                        </tr>

                        </tbody>
                    </table>

                   <!-- <div class="btn-container mt-5">
                        <button th:onclick="|deleteContact(${contact.cId})|" class="btn btn-danger btn-block">Delete</button>

                        <form class="mt-2" method="post" th:action="@{'/user/update-contact/'+${contact.cId}}">
                            <button type="submit" class="btn btn-primary btn-block">Update</button>
                        </form>
                    </div> -->
                </div>

            </div>
    </section>

</body>
</html>