<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="general/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Show Contacts - ContactMan</title>
</head>
<body>

    <section>
        <div class="card ml-3 mr-3">
            <div class="card-body">
                <h1 class="text-center"> Your Contacts </h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="contact: ${contacts}">
                        <th scope="row" th:text="'SCM24'+${contact.cId}">1</th>
                        <td> <img class="my_prof_pic rounded-circle" width="35" height="35" th:src="@{'/img/'+${contact.image}}" alt="profile photo" /> <span th:text="${contact.name}"></span></td>
                        <td>
                            <a th:href="@{'/user/contact/'+${contact.cId}}">
                                <span th:text="${contact.email}"></span>
                            </a>
                        </td>
                        <td th:text="${contact.phone}"></td>
                        <td>
                            <a th:href="@{'/user/delete/'+${contact.cId}}" ><button class="btn btn-danger btn-sm">Delete</button></a>
                            <button class="btn btn-primary btn-sm">Update</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--   Pagination Part   -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li th:if="${(currentPage - 1) >= 0}" class="page-item">
                            <a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage-1}}">Previous</a>
                        </li>

                        <li 
                            th:classappend="${currentPage==(i-1) ?'active' : ''}"
                            th:each="i : ${#numbers.sequence(1, totalPage)}" 
                            class="page-item">
                            <a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}" th:text="${i}"></a>
                        </li>

                        <li th:if="${(currentPage+1) != totalPage}" class="page-item">
                            <a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage+1}}">Next</a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>


    </section>

</body>
</html>